# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

back.sh
front.sh
backend/start.sh
frontend/start.sh
backend/__pycache__/
frontend/anime-tinder/node_modules/
frontend/anime-tinder/dist/
backend/.env
venv/
.env
backend/models/__pycache__